{% extends "_base.html" %}
{% block content %}

{% include "_navbar.html" %}

<main class="container pt-4">

    <article id="about" class="m-3 border-bottom d-flex flex-column align-items-center">
        <h1 class="display-4 mb-4">My Story</h1>

        <p>
            Monisha, 42, is an India-based healer, clairvoyant and psychic. She practices Numerology, Astrology,
            Reiki, Tarot-Cards and Palmistry and has two decades long track record of inspiring and healing
            people,
            professions and relationships, physical health and psychological morale. To her clients, Monisha is
            a
            friend, guide and philosopher.
        </p>
        <img class="img-fluid my-4" src="static/awsrd_collage.jpg" alt="" width="800">

        <p>
            Her journey to the mystic world began at a young age. She was deeply attracted to and self-initiated
            herself into Palmistry, at the age of 15, initially regaling her schoolteachers and classmates, who
            would queue-up to experience her skills. Over the years, she embraced meditation, became a voracious
            reader, took professional training, and got hooked on to Astrology, as the twelve squares too
            fascinated
            her. Her turning point came was when she learnt Reiki. It was the impact of her early Reiki
            practice,
            that got her to believe that her life-path was meant to be healing people and in discovering the
            occult.
            Reiki had such a calming effect that she ended-up being a Reiki Grand Master!
        </p>

        <img class="img-fluid my-4" src="static/monisha-bhatia02.jpeg" alt="" width="250">

        <p>
            Although trained in Physical Sciences (Masters in Chemistry), Monisha now professionally practices
            Numerology, Astrology, Palmistry, Tarot and, Advanced Reiki. She is ever thankful to God to be a
            medium
            to help people in need. She enjoys each moment as it comes- meeting and healing people, speaking at
            public forums and in media, corporate and cultural events, etc.
        </p>

        <img class="img-fluid my-4" src="static/24CC0CA9-EC26-4484-9529-54D93C644248_4_5005_c.jpeg" alt="" width="200">
    </article>

</main>

{% endblock %}