{% extends "_base.html" %}
{% block content %}

<div class=container>
    <header>
        <div class="display-1 fw-bold text-center">
            <a class="text-body text-decoration-none" href=/ />Monisha Bhatia</a>
        </div>
        <div class="lead text-center">India-based Healer, Clairvoyant and Psychic</div>

        <nav aria-label=Menu class="m-3">
            <ul class="align-items-center justify-content-center nav">
                <li class=nav-item>
                    <a aria-current=page class="fw-bold text-body nav-link text-decoration-underline"
                        href="#about" />About</a>
                </li>
                <li class=nav-item>
                    <a aria-current=page class="fw-bold text-body nav-link text-decoration-underline"
                        href="#services" />Services</a>
                </li>
                <li class=nav-item>
                    <a aria-current=page class="fw-bold text-body nav-link text-decoration-underline"
                        href="#testimonials" />Testimonials</a>
                </li>
                <li class=nav-item>
                    <a aria-current=page class="fw-bold text-body nav-link text-decoration-underline"
                        href="#consultation" />Consulation</a>
                </li>
            </ul>
        </nav>

        <div class="text-center">
            <p>
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                    class="bi bi-telephone-fill" viewBox="0 0 16 16">
                    <path fill-rule="evenodd"
                        d="M1.885.511a1.745 1.745 0 0 1 2.61.163L6.29 2.98c.329.423.445.974.315 1.494l-.547 2.19a.68.68 0 0 0 .178.643l2.457 2.457a.68.68 0 0 0 .644.178l2.189-.547a1.75 1.75 0 0 1 1.494.315l2.306 1.794c.829.645.905 1.87.163 2.611l-1.034 1.034c-.74.74-1.846 1.065-2.877.702a18.6 18.6 0 0 1-7.01-4.42 18.6 18.6 0 0 1-4.42-7.009c-.362-1.03-.037-2.137.703-2.877z" />
                </svg>
                Mobile: +91-9711131550
            </p>
            <p>
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                    class="bi bi-envelope-fill" viewBox="0 0 16 16">
                    <path
                        d="M.05 3.555A2 2 0 0 1 2 2h12a2 2 0 0 1 1.95 1.555L8 8.414zM0 4.697v7.104l5.803-3.558zM6.761 8.83l-6.57 4.027A2 2 0 0 0 2 14h12a2 2 0 0 0 1.808-1.144l-6.57-4.027L8 9.586zm3.436-.586L16 11.801V4.697z" />
                </svg>
                Email: <a href="mailto:monishabhatia17@gmail.com">monishabhatia17@gmail.com</a>
            </p>
        </div>
    </header>

    <article class="align-items-center d-flex flex-column border-bottom p-4" id="home">
        <img src="static/monisha-bhatia_hp.jpg" class="img-fluid" width="400" />
        <h1 class="fw-bold h1 text-center" style=margin-top:2rem>Helping You Find & Forge Your Own Path</h1>
        <div class=container-fluid>
            <div class="justify-content-center row">
                <div class="col col-auto col-lg-8 px-0">
                    <p class="lead mb-0 text-center">Monisha is an India-based healer, clairvoyant and
                        psychic. She practices Numerology, Astrology, Reiki, Tarot-Cards and Palmistry
                        and has two decades long track record of inspiring and healing people,
                        professions and relationships, physical health and psychological morale. To her
                        clients, Monisha is a friend, guide and philosopher.</p>
                </div>
            </div>
        </div>

    </article>

    <article id="about" class="m-3 border-bottom d-flex flex-column align-items-center">
        <h1 class="display-4 mb-4">About Me</h1>

        <p>
            Monisha, 42, is an India-based healer, clairvoyant and psychic. She practices Numerology, Astrology,
            Reiki, Tarot-Cards and Palmistry and has two decades long track record of inspiring and healing
            people,
            professions and relationships, physical health and psychological morale. To her clients, Monisha is
            a
            friend, guide and philosopher.
        </p>
        <img class="img-fluid my-4" src="static/awsrd_collage.jpg" alt="" width="800">

        <p>
            Her journey to the mystic world began at a young age. She was deeply attracted to and self-initiated
            herself into Palmistry, at the age of 15, initially regaling her schoolteachers and classmates, who
            would queue-up to experience her skills. Over the years, she embraced meditation, became a voracious
            reader, took professional training, and got hooked on to Astrology, as the twelve squares too
            fascinated
            her. Her turning point came was when she learnt Reiki. It was the impact of her early Reiki
            practice,
            that got her to believe that her life-path was meant to be healing people and in discovering the
            occult.
            Reiki had such a calming effect that she ended-up being a Reiki Grand Master!
        </p>

        <img class="img-fluid my-4" src="static/monisha-bhatia02.jpeg" alt="" width="250">

        <p>
            Although trained in Physical Sciences (Masters in Chemistry), Monisha now professionally practices
            Numerology, Astrology, Palmistry, Tarot and, Advanced Reiki. She is ever thankful to God to be a
            medium
            to help people in need. She enjoys each moment as it comes- meeting and healing people, speaking at
            public forums and in media, corporate and cultural events, etc.
        </p>

        <img class="img-fluid my-4" src="static/24CC0CA9-EC26-4484-9529-54D93C644248_4_5005_c.jpeg" alt="" width="200">
    </article>

    <article class="mb-4 border-bottom" id="consultation">
        <h1 class="display-4 my-4 text-center">Consulation</h1>
        <h2>FAQs</h2>
        <ul>
            <li>For abroad based consultations, transactions and conversion charges apply accordingly</li>
            <li>Prior deposit of fee is mandatory before consultation</li>
            <li>Up to 10 name-correction suggestions provided in two installments of 5 each.</li>
            <li>Reiki classes are conducted in person in Gurgaon (Delhi NCR), as attunement requires physical presence.
            </li>
            <li>Reiki teaching is offered in small group cohorts of 3–6 participants.</li>
            <li>Online hypnotherapy sessions are available, with the option of using a surrogate when required.</li>
        </ul>


        <h2>Fees</h2>
        <ul>
            {% for consultation in consultations %}
            <li><strong>{{ consultation["title"] }}</strong> - {{ consultation["value"] }}</li>
            {% endfor %}
        </ul>

        <h2>Payment Methods</h2>
        <ul>
            <li>
                <div>
                    <strong>Bank Transfer</strong>
                    <ul>
                        <li>Beneficiary: Monisha Bhatia</li>
                        <li>Account Number: 5001738242</li>
                        <li>Branch Name: Axis Bank, Ground Floor, DLF Square, M Block, Jacaranda Marg, DLF City, Phase
                            II, Gurgaon –
                            122002</li>
                        <li>IFSC: UTIB0005152</li>
                        <li>SWIFT Code: AXISINBB (For International Payments)</li>
                    </ul>
                </div>
            </li>
            <li>
                <strong>Pay through PayPal</strong>
                <ul>
                    <li>
                        Paypal ID: monishabhatia17@gmail.com
                    </li>
                </ul>
            </li>
            <li>
                <strong>Pay through UPI (Paytm/PayZ/Google Pay/etc.)</strong>
                <ul>
                    <li>
                        UPI Number: +91-9711131550
                    </li>
                </ul>
            </li>
        </ul>

    </article>

    <article class="mb-4 border-bottom" id="services">
        <h1 class="display-4 my-4 text-center">Services</h1>

        <div class="row">
            {% for service in services %}
            <div class="col-md-6 col-lg-4">
                <div class="card mb-4">
                    {% if 'image' in service %}
                    <img src="{{ service['image'] }}" class="card-img-top" alt="picture">
                    {% endif %}
                    <div class="card-body">
                        <h5 class="card-title">{{ service["name"] }}</h5>
                        <p class="card-text">
                            {{ service["description"] }}
                        </p>
                        <!-- <a href="#" class="btn btn-primary">Learn More</a> -->
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </article>

    <article class="mb-4 border-bottom" id="testimonials">
        <h1 class="display-4 my-4 text-center">Testimonials</h1>
        <div class="row" data-masonry='{"percentPosition": true }'>
            {% for testimonial in testimonials %}
            <div class="col-md-6 col-lg-4 col-xl-3">
                <div class="card mb-4 rounded">
                    <p class="card-header">{{testimonial["author"]}}</p>
                    <div class="card-body p-4">
                        <p class="card-text">{{testimonial["message"]}}</p>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </article>
</div>

<script src="https://cdn.jsdelivr.net/npm/masonry-layout@4.2.2/dist/masonry.pkgd.min.js"
    integrity="sha384-GNFwBvfVxBkLMJpYMOABq3c+d3KnQxudP/mGPkzpZSTYykLBNsZEnG2D9G/X/+7D" crossorigin="anonymous"
    async></script>

{% endblock %}